<ion-view view-title="{{nomApplication}}" >
  <ion-content style="background: url('../img/material-graphite.jpg'); background-size:cover">

    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>

      </div>
    </div>

    <div class="padding" style="text-align: center">
      <button class="button button-block button-light" ui-sref="jeu">Nouvelle Partie</button>
      <button class="button button-block button-assertive" ui-sref="score">Score</button>
    </div>


  </ion-content>
  <div class="bar bar-footer" style="background: transparent">
    <div class="title" style="text-shadow: 1px 1px 1px #000; color: #FFF; font-weight: bold; font-size: 1em">Jumper by <a href="http://www.wiicod.com" class="" style="color:#FC1200">Wiicod</a></div>
  </div>
</ion-view>
